{# src/Acme/TaskBundle/Resources/views/Default/new_gov.html.twig #}

{#{ form(form) }#}
<h2>Creer une nouvelle Delegation</h2>
<form action="{{ path('immobilier_manager_createDel') }}" method="POST" id="contact_form">
        {{ form_errors(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.idGouvernorat) }}

        {{ form_rest(form) }}
        <input type="submit" value="Send" class="symfony-button-grey" />
</form>