{% extends 'ImmobilierManagerBundle::layout.html.twig' %}

{% block content %}
<!-- CONTENT -->

<div id="content">
    <div class="container">
        <div id="main">
            <div class="row">
                <div class="span9">
                <h1 class="page-header">{{  annonce.title }}</h1>

                <div class="carousel property">
                    <div class="preview">
                        {% if( list_photos|length > 0 ) %}
                            <img src="{{ asset(list_photos.0) }}" alt="">
                        {% else %}
                            <img src="{{ asset('bundles/immobiliermanager/images/tmp/property-large-1.jpg') }}" alt="">
                        {% endif %}
                    </div><!-- /.preview -->

                    <div class="content">

                        <a class="carousel-prev" href="#">Previous</a>
                        <a class="carousel-next" href="#">Next</a>
                        <ul>
                        {% if( list_photos|length > 0 ) %}
                            {% for photo in list_photos %}
                                <li {% if loop.first %} class="active" {% endif %}>
                                <img src="{{ asset(photo) }}" alt="">
                                </li>
                            {% endfor %}
                            <li class="active">
                                <img src="{{ asset('bundles/immobiliermanager/images/tmp/property-large-1.jpg') }}" alt="">
                            </li>
                        {% else %}
                            <li class="active">
                                <img src="{{ asset('bundles/immobiliermanager/images/tmp/property-large-1.jpg') }}" alt="">
                            </li>
                            <li>
                                <img src="{{ asset('bundles/immobiliermanager/images/tmp/property-large-2.jpg') }}" alt="">
                            </li>
                            <li>
                                <img src="{{ asset('bundles/immobiliermanager/images/tmp/property-large-3.jpg') }}" alt="">
                            </li>
                            <li>
                                <img src="{{ asset('bundles/immobiliermanager/images/tmp/property-large-4.jpg') }}" alt="">
                            </li>
                            <li>
                                <img src="{{ asset('bundles/immobiliermanager/images/tmp/property-large-1.jpg') }}" alt="">
                            </li>
                        {% endif %}

                        </ul>
                    </div>
                    <!-- /.content -->
                </div>
                <!-- /.carousel -->

                <div class="property-detail">
                    <div class="pull-left overview">
                        <div class="row">
                            <div class="span3">
                                <h2>Overview</h2>

                                <table>
                                    <tr>
                                        <th>Price:</th>
                                        <td>{{  annonce.prix }}</td>
                                    </tr>
                                    <tr>
                                        <th>Contract type:</th>
                                        <td>{{  type }}</td>
                                    </tr>
                                    <tr>
                                        <th>Type:</th>
                                        <td>Condo</td>
                                    </tr>
                                    <tr>
                                        <th>Location:</th>
                                        <td>Palo Alto CA</td>
                                    </tr>
                                    <tr>
                                        <th>Bathrooms:</th>
                                        <td>3</td>
                                    </tr>
                                    <tr>
                                        <th>Bedrooms:</th>
                                        <td>3</td>
                                    </tr>
                                    <tr>
                                        <th>Area:</th>
                                        <td>{{  annonce.surface }}m<sup>2</sup></td>
                                    </tr>
                                </table>
                            </div>
                            <!-- /.span2 -->
                        </div>
                        <!-- /.row -->
                    </div>

                    <p><strong>{{  annonce.description }}</strong></p>

                    <input id="lng" type="hidden" value="{{ annonce.lng }}" />
                    <input id="lat" type="hidden" value="{{ annonce.lat }}" />
                    <div id="property-map"></div><!-- /#property-map -->
                </div>

                </div>

                <div class="sidebar span3">
                    {% include 'ImmobilierManagerBundle:_common:last-agents.html.twig' %}
                    {% include 'ImmobilierManagerBundle:Contact:contact.html.twig' %}
                    {% include 'ImmobilierManagerBundle:_common:last-articles.html.twig' %}
                </div>
            </div>
        </div>
    </div>
</div><!-- /#content -->
{% endblock %}