<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Aviators - byaviators.com">
<title>Realia | HTML Template</title>
<link rel="shortcut icon" href="bundles/immobiliermanager/images/favicon.png" type="image/png">
{% block stylesheets %}
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' type='text/css'>
    <link rel="stylesheet" href="{{ asset('bundles/immobiliermanager/css/bootstrap.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/immobiliermanager/css/bootstrap-responsive.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/immobiliermanager/libraries/chosen/chosen.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/immobiliermanager/libraries/bootstrap-fileupload/bootstrap-fileupload.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/immobiliermanager/libraries/jquery-ui-1.10.2.custom/css/ui-lightness/jquery-ui-1.10.2.custom.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/immobiliermanager/css/realia-blue.css') }}" type="text/css" id="color-variant-default">
    <link rel="stylesheet" href="#" type="text/css" id="color-variant">
{% endblock %}

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3&amp;sensor=true"></script>
<script type="text/javascript" src="{{ asset('bundles/immobiliermanager/js/jquery.js') }}"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.0.0.js"></script>